#app-container{
    background-color: grey;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}
#form{
    margin-top: 20px;
}
#form *{
    padding: 4px;
    font-size: medium;
}
#form input[type="text"]{
    color: black;
}
#form button{
    background-color: rgb(39, 175, 39);
    color: white;
    font-weight: 700;
    border: 1px solid rgb(39, 175, 39);
    border-left: none;
    padding-inline: 8px;
}
ul{
    width: 80%;
    margin-top: 40px;
}
ul div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
ul div button{
    margin-left: auto;
    height: 30px;
    background-color: brown;
    border: none;
    border-radius: 3px;
}